<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
  <link rel="icon" href="images/icon.png">
  <style>
    body {
      font-size: 16px;
      font-weight: 400;
      font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
      background-color: #fdfdfd;
      font-display: swap;
      color: #404040;
      margin: 0;
      -webkit-font-smoothing: antialiased;
    }

    header {
      background-color: #333;
      padding: 20px;
      text-align: center;
      color: #fff;
    }

    main {
      max-width: 900px;
      margin: 30px auto;
      padding: 40px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      text-align: left;
      line-height: 1.6;
    }

    h1 {
      margin-top: 0;
    }

    .project {
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      text-align: left;
    }

    .project-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
    }

    .project-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    .code-block-container {
      background-color: #252525;
      padding: 20px;
      border-radius: 5px;
      overflow-x: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .code-block {
      font-family: Consolas, monospace;
      white-space: pre-wrap;
      color: #ebebeb;
    }

    .code-block code {
      color: #fff;
    }

    p {
      white-space: pre-wrap;
    }

    .project-image {
      display: block;
      max-width: 70%;
      margin: 10px auto;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <header>
    <h1>S0T12</h1>
    <p>Hi</p>
  </header>
  <main>
    <% if (post) { %>
      <div class="project">
        <h2 class="project-title"><%- post.title %></h2>
        <% let paragraphs = post.text.split(/(@Code[\s\S]*?@Code|@Image\s*[^@\n]*)/gm); %>
        <% for (let i = 0; i < paragraphs.length; i++) { %>
          <% let paragraph = paragraphs[i].trim(); %>
          <% if (paragraph.startsWith('@Code')) { %>
            <div class="code-block-container">
              <code class="code-block"><%- paragraph.replace(/@Code\s*/g, '') %></code>
            </div>
          <% } else if (paragraph.startsWith('@Image')) { %>
            <% let imageUrl = paragraph.replace('@Image', '').trim(); %>
            <div class="image-container">
              <img class="project-image" src="<%- imageUrl %>" alt="Project Image">
            </div>
          <% } else { %>
            <p><%- paragraph.replace(/\n/g, '<br>').replace(/  /g, '&nbsp;&nbsp;') %></p>
          <% } %>
        <% } %>
      </div>
    <% } else { %>
      <p>No post found!</p>
    <% } %>
  </main>
  <footer></footer>

  <script>
    window.addEventListener('DOMContentLoaded', () => {
      const postId = '<%= post ? post.id : "" %>';
      if (postId) {
        fetch(`/posts/${postId}`)
          .then(response => response.json())
          .then(data => {
            const project = data.project;
            const projectTitleElement = document.querySelector('.project-title');
            const projectTextElement = document.querySelector('.project-text');

            if (projectTitleElement) {
              projectTitleElement.textContent = project.title;
            }

            if (projectTextElement) {
              projectTextElement.innerHTML = project.text;
            }
          })
          .catch(error => console.log(error));
      }
    });
  </script>
</body>
</html>